/* styles/slider.module.css */

.sliderContainer {
  width: 100%;
  height: 200px; /* Set desired height */
  overflow: hidden;
  border-radius: 8px;
}

.mySwiper {
  width: 100%;
  height: 100%;
}

.swiperSlide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 767px) {
  .sliderContainer {
    height: 450px;
  }
}
